:root{
  --bg:#050d1f;
  --primary:#4f9cff;
  --secondary:#00ffd1;
  --card:#0e1b39;
  --text:#ffffff;
}

*{box-sizing:border-box;margin:0;padding:0}
body{
  background:var(--bg);
  font-family:"Poppins",sans-serif;
  color:var(--text);
}

.container{max-width:1100px;margin:auto;padding:2rem}

/* HERO BACKGROUND */
.hero-bg{
  position:fixed;
  inset:0;
  background:radial-gradient(circle at 20% 20%, rgba(79,156,255,.25), transparent 40%),
              radial-gradient(circle at 80% 70%, rgba(0,255,209,.25), transparent 40%);
  filter:blur(18px);
  z-index:-1;
}

/* NAV */
.header{position:sticky;top:0;padding:1rem 0;background:rgba(5,13,31,.6);backdrop-filter:blur(10px)}
.nav{display:flex;justify-content:space-between;align-items:center}
.logo{letter-spacing:2px}
nav a{
  margin-left:1rem;
  color:#aaa;
  text-decoration:none;
  transition:.25s;
}
nav a:hover{color:#fff}

/* HERO */
.hero{padding:4rem 0}
.hero-grid{
  display:grid;
  grid-template-columns:1fr 300px;
  gap:2rem;
}
.glow{
  font-size:2.4rem;
  color:white;
  text-shadow:0 0 30px rgba(79,156,255,.8);
}
.subtitle{color:#9ec7ff}
.hero-info{list-style:none;margin:1rem 0}
.hero-info li{margin-bottom:6px}

.hero-buttons{display:flex;gap:.6rem;margin-top:1rem}
.btn{
  border:1px solid #4f9cff;
  color:#4f9cff;
  padding:.6rem .9rem;
  text-decoration:none;
  border-radius:8px;
  transition:.25s;
}
.btn:hover{background:#4f9cff;color:black}
.primary{background:#4f9cff;color:black}

.photo-box img{
  width:240px;
  height:240px;
  object-fit:cover;
  border-radius:50%;
  border:8px solid rgba(255,255,255,.2);
  box-shadow:0 25px 60px rgba(0,0,0,.6);
}


/* SECTION */
.section{padding:3rem 0;opacity:0;transform:translateY(40px);transition:1s}
.show{opacity:1;transform:none}
.title{
  font-size:1.5rem;
  margin-bottom:1rem;
  color:#9ec7ff;
}

/* Cards */
.cards{display:grid;gap:1rem}
.card{
  padding:1.1rem;
  background:var(--card);
  border-radius:14px;
  box-shadow:0 12px 40px rgba(0,0,0,.4);
  transition:.3s;
}
.card:hover{transform:translateY(-6px)}

/* Skills */
.skills{display:grid;grid-template-columns:repeat(2,1fr);gap:1rem}

/* Projects */
.project{
  background:var(--card);
  padding:1.2rem;
  border-radius:14px;
  margin-bottom:1rem;
}
.project ul{margin:.5rem 0 0 1.2rem}

.links{margin-top:.7rem}
.links a{
  background:#4f9cff;
  padding:.5rem .8rem;
  border-radius:8px;
  text-decoration:none;
  margin-right:.4rem;
  color:black;
  font-weight:700;
}

/* Contact */
.contact-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:1rem;
}

.social{
  display:flex;
  justify-content:center;
  gap:22px;
  margin-top:2rem;
}
.social img{
  width:34px;
  filter:invert(1);
  opacity:.9;
  transition:.3s;
}
.social img:hover{transform:translateY(-6px);opacity:1}

/* Footer */
.footer{text-align:center;padding:1.3rem 0;color:#8ba4ff}
